<div class='well span2'>
  <div class='row'>
    <div class='span2'>
      <img src='<%= cycle.image_url :thumb %>' height='117'\>
      <div class='span2'>
        <p><a id='<%=cycle.id%>' href='<%=cycle.url%>'><%= cycle.name %></a></p>
      </div>
    </div>
  </div>
</div>

