<div class='row list' id='cycle-container'>
  <ul class="grid-tiles isotope clearfix infinite-scrolling" id="grid-filter-items">
    <%=render @cycles %>
  </ul>
  <% unless @cycles.blank? %>
    <nav id="page_nav" style="display: none;">
        <a href="/cycles?page=1"></a>
    </nav>
    <span id="infinite-scroll" data-next-page='<%= @next_page %>'></div>
<% end %>
  <div style='display:none;' id='end-of-products'><p>Thats all the Products we have got</div>
  <div style='display:none;' id='no-products'><p>Sorry that search Did not yield any products</div>
</div>
