html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#wrap > .container {
padding: 200px 15px 0;
}
.container .credit {
margin: 20px 0;
}

.navbar-brand{
    margin-left: 0;
    width: 100px;
    max-width: 100px;
    height: 53px;
    background: url('/assets/logo-mobile.png') 0 0 no-repeat;
}
@media screen and (min-width: 768px) {
    .navbar .nav{
        width: 68%;
        float: right;
    }
    .navbar .nav > li p{
        font-size: 18px;
        font-weight: bold;
        color: #666;
    }
    .navbar .nav > li{
        width: 50%;
        margin-top: 10px;
    }
    .navbar-brand{
        margin-top: 40px;
        width: 200px;
        max-width: 200px;
        height: 106px;
        background: url('/assets/logo.png') 0 0 no-repeat;
    }
}

.label{
    border-radius: 30px;
    margin-left: 5px;
    padding: 7px 0 8px;
    min-width: 30px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav input{
    display: none;
}
.navbar .nav > li > a{
    position: relative;
    margin-right: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 2px 35px 2px 10px;
    color: #fff;
    display: inline-block;
}

/* --------------------------------------------------
3 - Isotope
-------------------------------------------------- */

.isotope-item { z-index:2;}

.isotope-hidden.isotope-item { 
    pointer-events:none;
    z-index:1;
}

.isotope, 
.isotope .isotope-item { 
    -webkit-transition-duration:0.8s;
       -moz-transition-duration:0.8s;
        -ms-transition-duration:0.8s;
         -o-transition-duration:0.8s;
            transition-duration:0.8s;
}

.isotope { 
    -webkit-transition-property:height, width;
       -moz-transition-property:height, width;
        -ms-transition-property:height, width;
         -o-transition-property:height, width;
            transition-property:height, width;
}

.isotope .isotope-item { 
    -webkit-transition-property:-webkit-transform, opacity;
       -moz-transition-property:  -moz-transform, opacity;
        -ms-transition-property:   -ms-transform, opacity;
         -o-transition-property:       top, left, opacity;
            transition-property:       transform, opacity;
}

.isotope.no-transition, 
.isotope.no-transition .isotope-item, 
.isotope .isotope-item.no-transition { 
    -webkit-transition-duration:0s;
       -moz-transition-duration:0s;
        -ms-transition-duration:0s;
         -o-transition-duration:0s;
            transition-duration:0s;
}

.grid-tiles{
    margin: 0;
}
.grid-tiles li { 
    display: inline-block;
    float: left;
    margin: 10px 0;
    width: 285px;
    height: 285px;
}

.grid-cycle { 
    position: relative;
    display: block;
    margin: 9px auto;
    width: 255px;
    overflow: hidden;
}
.cycle-info{
    background-color: #428bca;
    color: #fff;
    padding:5px 10px;
}
.cycle-info p{
    padding: 0;
    margin: 0;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.grid-cycle a{
    text-decoration: none;
}
.grid-cycle a:hover{
    text-decoration: none;
}